.long-selection-container {
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;
    padding: 2px 0px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.song-title {
    padding-left: 10px;
}

.song-artist {
    padding-right: 10px;
}