.long-selection-container {
    border: 1px solid white;
    border-radius: 4px;
    padding: 2px 0px;
    text-transform: uppercase;
    margin-top: 8px;
}

.long-selection-text {
    text-align: center;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.song-title {
    padding-left: 10px;
}

.song-artist {
    padding-right: 10px;
}

.selected {
    border: none;
    background-color: #3f51b5;
}

.songlist-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid white;
    border-radius: 4px;

}

.songlist-song {
    margin-left: 10px;
    padding: 3px 0px 3px 0px;
}