.dashboard {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 16px;
}

.line {
    width: 65%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.selection-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.title-btn {
    padding: 9px 27px;
    margin-left: 26px;
}
